.Container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Todos{
   
    height: auto;
    width:fit-content;
    border:2px solid red;
    padding:10px;
    margin:10px;
    background-color: cyan;
  
    
}